@using System.Data.SqlTypes
@using MVC_Prices2.Models
@using Newtonsoft.Json
@model MVC_Prices2.Models.Product
@{
    ViewBag.Title = "Product Details";
}




@if (Model == null)
{
    <div class="widget col-md-12 widget" style="height: 750px">
        <div class="alert alert-danger topmargin text-center"><strong>Errore!</strong> Nessun prodotto selezionato !</div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-12 widget">



            <!-- Preloader -->
            <div id="preloader">
                <div id="image"></div>
            </div>
            <!-- /Preloader -->




            <center>
                <form name="form1">


                    <table width="100%" border="0" style="margin-top: 10px;">
                        <tbody>
                            <tr>
                                <td width="50"></td>

                                <td align="center">


                                    <font face="Verdana" style="font-size: 13px; color: orangered;">
                                        <b>@Model.ProductName.ToUpper()</b>
                                    </font>
                                    <input id="direction" type="checkbox" @if (Model.IsWingFixed) { @Html.Raw("disabled") } checked data-toggle="toggle" data-size="mini" data-on=" Destra" data-off=" Sinistra " data-onstyle="success" data-offstyle="info">
                                    <input type="hidden" name="strona" value="2" />
                                </td>
                            </tr>


                            <tr>
                                <td align="right">
                                    <font face="Verdana" style="font-size: 13px; color: blue;">
                                        <b></b> <input type="hidden" name="wzmocnienie" onclick="imptotale();">
                                    </font>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <font face="verdana" size="2">
                        <table border="0">
                            <tbody>
                                <tr>
                                    <td valign="middle">
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td valign="bottom">

                                        <font face="Verdana">
                                            <br />

                                            <b class="kesit">Sistema:</b>

                                            <select class="kesit" name="system" id="system" onchange="Hesap(1);">
                                                <option value="0" selected="">Pro 7006 ®</option>
                                                <option value="2">Pro 7006 ® 2</option>
                                                <option value="1">Pro 8106 ® 1</option>

                                            </select>
                                            <div>
                                                <img id="kesit" width="170" class="kesit" src="~/Content/img/PRO7006.png" />
                                            </div>
                                            <br />
                                            <div class="sogliaBassa pointer" id="pervazKesim">
                                                <input class="kesimmi pointer" name="kesimmi" type="checkbox" id="kesimmi" value="tagliare il davanzale" onchange="Hesap()">
                                                <span class="kesimmi pointer"> <label for="kesimmi">Tagliare il davanzale (2€ per lato)</label></span>
                                                <input class="tirnakmi pointer" name="tirnakmi" type="checkbox" id="tirnakmi" value="aletta in casso" onchange="Hesap()">
                                                <span class="tirnakmi pointer"><label for="tirnakmi"> Aletta in casso (1.8€ per mt)</label></span>
                                                <br />
                                                <br />
                                              
                                            </div>
                                            <div class="col-sm-7 col-md-7 pull-right" style="margin-right: 25px;">
                                                <b style="margin-left: 55px">Altezza</b>
                                                <input id="boy" name="wys" placeholder="Altezza" type="text" value="@Model.DefHeight" onchange="Hesap()" data-toggle="tooltip" data-placement="top" title="Altezza" onch data-plugin="TouchSpin" data-options="{ initval: 75,max:3500,min:0, postfix_extraclass: 'btn btn-default', buttondown_class: 'btn btn-info', buttonup_class: 'btn btn-info' }">
                                            </div>
                                            <br /><br /><br />
                                            <p style="margin-left: 30px;" class="pull-right" style="font-size: 9px; font-family: Verdana;">
                                                Pellicola simil-legno/colore in massa<br>
                                                <img src="/Content/img/probkabianco.jpg" id="probka" style="border: silver 1px solid; width: 190px; height: 80px;">
                                            </p>
                                        </font>
                                    </td>

                                    <td>
                                        <canvas id="mojCanvas" width="390" height="290"></canvas>

                                    </td>
                                </tr>


                                <tr>

                                    <td class="pull-right">





                                        <font face="Verdana" style="font-size: 12px; margin-right: 23px;">

                                            <b>Colore:</b>
                                            <select name="kolorprofili" onchange="Hesap();">
                                                <option value="0" selected="">bianco</option>
                                                <option value="1">golden oak</option>
                                                <option value="2">noce</option>
                                                <option value="3">mogano(premio)</option>
                                                <option value="4">winchester(premio)</option>
                                                <option value="8">verde muschio(premio)</option>
                                                <option value="9">antracite(premio)</option>
                                                <option value="0">laminate bianco(premio)</option>
                                            </select>
                                            <div id="latoD" style="display: none;">
                                                <input type="radio" name="latoD" id="latoDIn" onchange="Hesap();" value="Interno" />
                                                <label class="form-check-label" for="latoDIn">Interno</label>

                                                <input type="radio" name="latoD" id="latoDEs" onchange="Hesap();" value="Esterno" />
                                                <label class="form-check-label" for="latoDEs">Esterno</label>

                                                <input type="radio" name="latoD" id="latoDDp" onchange="Hesap();" value="Doppio" checked="checked" />
                                                <label class="form-check-label" for="latoDDp">Doppio</label>

                                            </div>
                                        </font>
                                    </td>

                                    <td align="center" valign="middle">
                                        <div style="margin-left: 25px;" class="col-sm-7 col-md-7">
                                            <b>Larghezza Finestra</b>
                                            <input id="en" name="szer" placeholder="Larghezza" type="text" value="@Model.DefWidth" onchange="Hesap()" data-toggle="tooltip" data-placement="top" title="Larghezza" onch data-plugin="TouchSpin" data-options="{ initval: 75,max:3500,min:0, postfix_extraclass: 'btn btn-default', buttondown_class: 'btn btn-info', buttonup_class: 'btn btn-info' }">
                                            <b>Larghezza Ante</b>
                                            <input id="enkanat" name="szerante" placeholder="Larghezza Ante" type="text" value="500" onchange="Hesap()" data-toggle="tooltip" data-placement="top" title="Larghezza Ante" onch data-plugin="TouchSpin" data-options="{ initval: 75,max:3500,min:0, postfix_extraclass: 'btn btn-default', buttondown_class: 'btn btn-info', buttonup_class: 'btn btn-info' }">

                                        </div>




                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                </tr>
                                @if (Model.Id == 9 || Model.Id == 3 || Model.Id == 7 || Model.Id == 10 || Model.Id == 5)
                                {
                                    <tr>
                                        <td class="sogliaBassa">


                                            <font face="Verdana">
                                                <label for="sogliaBassa" style="font-size: 12px;"><b>Soglia ribassata(8€ per mt):</b></label>
                                            </font>
                                            <input onchange="Hesap()" type="checkbox" name="sogliaBassa" id="sogliaBassa" class="checkbox-danger" />
                                        </td>
                                    </tr>
                                }
                                @if (Model.Id == 7 || Model.Id == 10)
                                {
                                    <tr>
                                        <td class="sogliaBassa">
                                            <div style="border: 0.5px silver solid;">
                                                <div>
                                                    <input type="radio" name="vetroListelli" id="inlineRadio1" checked="" value="0" onchange="Hesap()">
                                                    <font face="Verdana">
                                                        <label for="inlineRadio1" style="font-size: 12px;"><b>Vetro + Vetro  </b></label>
                                                    </font>
                                                </div>
                                                <div>
                                                    <input type="radio" name="vetroListelli" id="inlineRadio2" value="1" onchange="Hesap()">
                                                    <font face="Verdana">
                                                        <label for="inlineRadio2" style="font-size: 12px;"><b> Vetro + Listelli  </b></label>
                                                    </font>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                                @if (Model.Id == 4 || Model.Id == 12)
                                {
                                    <tr>
                                        <td>
                                            <div class="sogliaBassa" class="btn-group btn-group-toggle" data-toggle="buttons">
                                                @if (Model.Id == 4)
                                                {
                                                    <b>Apertura Superiore</b><br />
                                                }
                                                else
                                                {
                                                    <b>Posto del Ante</b><br />
                                                }
                                                <label class="btn btn-primary " id="leftside">
                                                    <input type="radio" name="openoption" value="Left" id="left1" autocomplete="off"><i class="zmdi zmdi-arrow-left"></i> Sinistra
                                                </label>
                                                <label class="btn btn-primary active" id="rightside">
                                                    <input type="radio" name="openoption" value="Right" id="right1" autocomplete="off"><i class="zmdi zmdi-arrow-right"></i> Destra
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr style="height: 15px;"></tr>
                                }

                                <tr>
                                    <td class="" valign="bottom">

                                        <font face="Verdana" class="maniglia" style="font-size: 12px;">
                                            <table id="hover" style="transition: width 2s;">

                                                <tr>
                                                    <td class="wmaniglia"></td>

                                                    <td style="width: 135px">
                                                        @if (Model.Id == 11)
                                                        {
                                                            <input id="productVasistas" type="checkbox" checked data-toggle="toggle" data-size="mini" data-on="Crichetto" data-off="Maniglia" data-onstyle="primary" data-offstyle="info" />
                                                        }
                                                        else
                                                        {
                                                            <b>
                                                                Maniglia:
                                                            </b>
                                                        }


                                                    </td>

                                                    <td width="25">
                                                        <input id="armfixed" type="checkbox" onchange="Hesap()"
                                                               @*@if (Model.IsArmFixed) { @Html.Raw("disabled") }*@
                                                               checked data-toggle="toggle" data-size="mini" data-on="Standard" data-off="Speciale" data-onstyle="primary" data-offstyle="info">
                                                    </td>



                                                </tr>

                                                <tr style="height: 15px"></tr>
                                                <tr>
                                                    <td></td>
                                                    <td><b style="display: none;" id="doorHandlerColor">Maniglia Colore:</b></td>
                                                    <td>
                                                        <select style="width: 100px;" class="door2" name="door" onchange="Hesap()">
                                                            <option value="0" selected="">Standard</option>
                                                            <option value="1">bianco</option>
                                                            <option value="2">Marrone</option>
                                                            <option value="3">Nero</option>
                                                            <option value="4">Cromo-Satinato non lucido</option>
                                                            <option value="5">Ottone</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>

                                        </font>

                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" valign="bottom">

                                        <font face="Verdana" style="padding-left: 122px; font-size: 12px; display: none;" id="armbuttons">
                                            <br />
                                            <b class="sogliaBassa">Posto Del Maniglia:</b>

                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-primary active" id="up">
                                                    <input type="radio" name="armoptions" value="Up" id="up" autocomplete="off"><i class="zmdi zmdi-upload"></i> Su
                                                </label>
                                                <label class="btn btn-primary" id="down">
                                                    <input type="radio" name="armoptions" value="Down" id="down" autocomplete="off" checked><i class="zmdi zmdi-download"></i> Giu
                                                </label>

                                            </div>
                                            <select id="armcm" style="height: 35px;">
                                                @for (int i = 0; i <= 10; i++)
                                                {
                                                    <option value="@i">
                                                        <b> @i</b>
                                                    </option>
                                                }
                                            </select> - CM

                                        </font>

                                    </td>
                                </tr>

                                <tr>
                                    <td align="right" valign="bottom">

                                        <font face="Verdana" style="font-size: 12px;">
                                            <br />

                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            lato esterno  : 3.3.1/stratificato
                                                        </td>
                                                    </tr>
                                                    <tr id="vetroTriplo" style="display: none;">

                                                        <td>
                                                            lato intermedio : 5/basso emissivo
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span id="vetroInt4"> lato interno : 4/basso emissivo</span>
                                                            <span id="vetroInt331" style="display: none;"> lato interno : 3.3.1/stratificato</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span class="vetroCamera14">spessore di vetrocamera : 14 </span>
                                                            <span class="vetroCamera6" style="display: none;">spessore di vetrocamera : 6 </span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span class="vetroCamera14">  valore k: 1.1</span>
                                                            <span class="vetroCamera6" style="display: none;">  valore k: 1.5</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <select style="display: none;" name="konfiguracja" onchange="imptotale();">
                                                <option value="0">basso emissivo</option>
                                                <option value="1" selected="">stratificato 1 lato</option>
                                                <option value="2">stratificato 2 lati</option>
                                            </select>

                                        </font>

                                    </td>
                                    <td valign="middle" style="padding-left: 50px;">
                                        <label for="notes" style="font-size: 12px;"><b>Nota: </b></label>
                                        <textarea type="text" name="notes" id="notes" rows="4" cols="40"></textarea>
                                    </td>
                                </tr>
                                <tr>

                                    <td align="right">
                                        <font face="Verdana" style="padding-right: 5px;font-size: 12px;">
                                            vetro:
                                            <select name="kolorszkla" id="kolorszkla" onchange="Hesap();">
                                                <option value="0" selected="">doppio, trasparente</option>
                                                <option value="1">doppio, satinato</option>
                                                <option value="3">triplo, trasparente</option>
                                                @*<option value="2">doppio, stampato C</option>
                                                    <option value="4">triplo, satinato</option>
                                                    <option value="5">triplo, stampato C</option>*@
                                            </select>

                                        </font>

                                    </td>

                                </tr>
                                <tr>
                                    <td colspan="2" align="center">
                                        <font face="Verdana" style="font-size: 12px;">
                                            <br>
                                            <b>Numero pezzi:</b>

                                            <select name="ilosc" onchange="Hesap();">
                                                @for (int i = 0; i < 21; i++)
                                                {
                                                    <option value="@i" (@i= =0?@Html.Raw("selected"):@Html.Raw(""))>
                                                        @i
                                                    </option>
                                                }

                                            </select>



                                        </font>




                                        <font face="Verdana" style="font-size: 12px;">
                                            Importo:
                                            <input type="hidden" onchange="Hesap()" name="dodatki"> <span id="cenaokna" style="color: red; font-size: 16pt">0</span> €
                                        </font>




                                        &nbsp; &nbsp; &nbsp;
                                        <a id="addtobasket" class="btn btn-success"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Aggiungi al preventivo</a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>



                    </font>
                </form>
            </center>

        </div>
    </div>

    <!-- Creates the bootstrap modal where the image will appear -->
    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Chiudi</span></button>
                    <h4 class="modal-title" id="myModalLabel">Sezione Profilo <b id="sezProfile"></b></h4>
                </div>
                <div class="modal-body">
                    <img src="" id="imagepreview" style="width: 100%; ">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var productLimits = @Html.Raw(Json.Encode(new{MaxWidth=Model.MaxWidth,MinWidth=Model.MinWidth,MaxHeight=Model.MaxHeight,MinHeight=Model.MinHeight,ModelId=Model.Id}));
        var fiyatlar;
        var radioLeftRight = productLimits.ModelId == 4 || productLimits.ModelId == 12 ?"right":"yok";

        function GetDatas()
        {
            var profil = document.getElementById("system").value;
            $.ajax({
                type: 'GET',
                url: '/Product/Datas',
                dataType: "JSON",
                data: { id:@Model.Id, system: profil},
                success: function (data) {

                    fiyatlar = data;
                    Hesap2();

                }

            });


        }
        function Hesap(refresh=0) {
            changeProfile();
            imptotale();
            if (refresh == 1) {
                GetDatas();

            } else {
                Hesap2();

            }

        }

        function Hesap2() {
            var miktar = $("select[name='ilosc'] option:selected").text();
            var renk = $("select[name='kolorprofili'] option:selected").text();
            var fiyat = 0;
            var tutar = 0;
            var factorPrice = 0;
            var en = document.getElementById("en").value;
            var boy = document.getElementById("boy").value;
            var profil = document.getElementById("system").value;
            var kolrengi = document.form1.door.value === "0" ? 0 : 5;
            var camfiyat = 0;
            var camtipi = document.form1.kolorszkla.value;
            if (camtipi === "1") {
                camfiyat = 7;
                }
            else if (camtipi === "3") {
                if (boy < 1701)
                    camfiyat = 51;
                else
                    camfiyat = 27;
            }
            setVetroDets();
            var m2 = en * boy / 1000000 * camfiyat;
            var armvasistas = $('#productVasistas').is(':checked');
            var almesik;
            if (document.form1.sogliaBassa)
                almesik = document.form1.sogliaBassa.checked;
            else
                almesik = false;
            if (armvasistas && (en>800 && boy>600)) crichettoErr();
            var armDiff = armvasistas ? 1 : 0;
            var sogBasDiff = almesik ? en / 1000 * 8 : 0;
            var cutDiff = 0;
            var kesimmi = document.form1.kesimmi.checked;
            var tirnakmi = document.form1.tirnakmi.checked;
            var latoD = document.form1.latoD.value;
            if (kesimmi && profil === "2") {
                cutDiff = getCheckedBoxes("pervazTaraf").length*2;
            }
            if (tirnakmi && profil === "0") {
                var checkedBoxes = getCheckedBoxes("pervazTaraf");
                for (var ij = 0; ij < checkedBoxes.length; ij++) {
                    if (checkedBoxes[ij] === "Sinistra" || checkedBoxes[ij] === "Destra") {
                        cutDiff = Math.ceil(cutDiff + (en*1.8/1000));
                    } else {
                        cutDiff = Math.ceil(cutDiff + (boy*1.8/1000));
                    }

                }
            }
            for (var i = 0; i < fiyatlar["length"]; i++) {
                if (renk !== "bianco")
                    $("#latoD").css("display","block");
                 else
                    $("#latoD").css("display", "none");

                    if (renk === "bianco" || renk ==="beyaz" || 1===1) {
                    if (en > fiyatlar[i].Width - 100 && en <= fiyatlar[i].Width && boy > fiyatlar[i].Height - 100 && boy <= fiyatlar[i].Height && fiyatlar[i].Color == false) {
                        fiyat = fiyatlar[i].Prices;
                        factorPrice = Number(fiyat);
                        if (renk === "noce" || renk === "golden oak") {
                            if(latoD ==="Doppio")
                                factorPrice = Math.ceil(factorPrice * 1.15);
                            else
                                factorPrice = Math.ceil(factorPrice * 1.08);

                        } else if (renk !== "bianco" && renk !== "noce" && renk !== "golden oak") {
                            if (latoD === "Doppio") {
                                factorPrice = Math.ceil(factorPrice * 1.15);
                                factorPrice = Math.ceil(factorPrice * 1.05);
                                }
                            else
                            {
                                factorPrice = Math.ceil(factorPrice * 1.08);
                                factorPrice = Math.ceil(factorPrice * 1.05);
                                }
                        }
                        break;
                    }
                }
                else {
                    if (en > fiyatlar[i].Width - 100 && en <= fiyatlar[i].Width && boy > fiyatlar[i].Height - 100 && boy <= fiyatlar[i].Height && fiyatlar[i].Color == true) {
                        fiyat = fiyatlar[i].Prices;
                    }
                }
                factorPrice = Number(fiyat);
            }

            factorPrice = Math.ceil(factorPrice+m2-armDiff+kolrengi+sogBasDiff+cutDiff);
            tutar = factorPrice * miktar;
            document.form1.dodatki.value = factorPrice;
            document.getElementById('cenaokna').innerHTML = tutar;
            document.cookie = factorPrice;

        }
        function controlLimits() {
            alert("works fine");
        }

        function crichettoErr() {
            Swal.fire(
                'Error',
                'Non è possibile utilizzare cricchetto di queste misure.',
                'error'
            ).then((result) => {
                location.reload();
            });
            }

        $("#kesit").on("click", function() {
            $('#imagepreview').attr('src', $('#kesit').attr('src')); // here asign the image to the modal when the user click the enlarge link
            var system = $("select[name='system'] option:selected").text();
            $('#sezProfile').text(" - "+system);
            $('#imagemodal').modal('show'); // imagemodal is the id attribute assigned to the bootstrap modal, then i use the show function


        });
        $(document).ready(function () {
            if (productLimits.ModelId==11) {
                $('#armfixed').bootstrapToggle('disable');
            }

            GetDatas();
            $(".door2").css('display', 'none');
            $("#doorHandlerColor").css('display', 'none');
            $('#productVasistas').on('change', function () {
                var armvasistas = $('#productVasistas').is(':checked');
                $('#armfixed').bootstrapToggle('on');
                if (!armvasistas) {
                    $('#armfixed').bootstrapToggle('enable');
                } else {
                    var en = document.getElementById("en").value;
                    var boy = document.getElementById("boy").value;
                    if (en * boy > 480000) {
                        crichettoErr();
                        return;
                    }
                    $('#armfixed').bootstrapToggle('disable');
                }
                Hesap();
            });
            $('#armfixed').on('change', function() {
                var armdirection = $('#armfixed').is(':checked');
                document.form1.door.value = "0";
                if (armdirection) {
                    $('#armbuttons').hide();
                    $(".door2").css('display', 'none');
                    $("#doorHandlerColor").css('display', 'none');
                } else {
                    $('#armbuttons').show();
                    $(".door2").css('display', 'block');
                    $("#doorHandlerColor").css('display', 'block');
                }
            });


        });


        function ArmUpDown() {


            var armdirect = $('input[name=armoptions]:checked').val();
            var armdistance = 2;
        }
        $("input[name='openoption']").change(function()
        {
            var x = document.getElementById("left1").checked;
            var y = document.getElementById("right1").checked;
            if (x === true) {
                radioLeftRight = "left";
                imptotale();
            } if (y === true) {

                radioLeftRight = "right";
                imptotale();
            }
        });

        function setVetroDets() {
            var vetro331 = $("#vetroInt331");
            var vetro4 = $("#vetroInt4");
            var vetroCam14 = $(".vetroCamera14");
            var vetroCam6 = $(".vetroCamera6");
            var vetroMiddio = $("#vetroTriplo");
            var vetro = document.form1.kolorszkla.value;
            var altezza = document.form1.wys.value;

            if (vetro === "0" || vetro === "1") {
                vetroCam14.css("display","block");
                vetroCam6.css("display","none");
                vetroMiddio.css("display","none");
                if (altezza > 1700) {
                    vetro4.css("display", "none");
                    vetro331.css("display", "block");
                } else {
                    vetro4.css("display", "block");
                    vetro331.css("display", "none");
                }
            } else {
                vetroMiddio.css("display", "block");
                vetroCam14.css("display", "none");
                vetroCam6.css("display", "block");
                vetro4.css("display", "none");
                vetro331.css("display", "block");
                }
        }

        $("#kesimmi, #tirnakmi").on("click", toggleDirections);
        function toggleDirections() {
            var isChecked1 = document.form1.kesimmi.checked;
            var isChecked2 = document.form1.tirnakmi.checked;
            $("input[name='pervazTaraf']:checkbox").prop("checked", false);


            if (isChecked1 || isChecked2)
                {
                $("#directions").css("display", "block");
                }
            else
                {
                $("#directions").css("display", "none");
                }

        }
        $("#system").on("click",changeProfile);
        function changeProfile() {



            var profiles = new Array('/Content/img/PRO7006.png', "/Content/img/PRO8106_1.png", "/Content/img/PRO7006-2_1.png");

            var systemVal = document.form1.system.value;
            document.getElementById('kesit').src = profiles[document.form1.system.value];


            $('#pervazKesim').css('display', 'block');
            if (systemVal === "0" || systemVal === "1" ){
                $('.tirnakmi').css('display', 'block');
                $('.kesimmi').css('display', 'none');
                $("#kesimmi").prop("checked",false);

                }else {
                $('.tirnakmi').css('display', 'none');
                $('.kesimmi').css('display', 'block');
                $('#tirnakmi').prop('checked', false);
            }

        }

     
    </script>
    if (Model.Id == 1)
    {
        @Html.Partial("_1");
    }
    else if (Model.Id == 2)
    {
        @Html.Partial("_2");
    }
    else if (Model.Id == 3)
    {
        @Html.Partial("_3");
    }
    else if (Model.Id == 4)
    {
        @Html.Partial("_4");
    }
    else if (Model.Id == 5)
    {
        @Html.Partial("_5");
    }
    else if (Model.Id == 6)
    {
        @Html.Partial("_6");
    }
    else if (Model.Id == 7)
    {
        @Html.Partial("_7");
    }
    else if (Model.Id == 9)
    {
        @Html.Partial("_9");
    }
    else if (Model.Id == 10)
    {
        @Html.Partial("_10");
    }
    else if (Model.Id == 11)
    {
        @Html.Partial("_11");
    }
    else if (Model.Id == 12)
    {
        @Html.Partial("_12");
    }
    else if (Model.Id == 13)
    {
        @Html.Partial("_13");
    }
    else if (Model.Id == 14)
    {
        @Html.Partial("_14");
    }
    else
    {
        @Html.Partial("Error");
    }
}

